<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel='stylesheet', href='/dist/styles.css')
    title= `${title} - Backpack`
  body
    header
      nav
        ul
          li
            a(href="/") Home
          if user
            li
              a(href="/logout") Log out
          else
            li
              a(href="/login") Log In
            li
              a(href="/register") Register

    if locals.flashes
      .flash-messages
        - const categories = Object.keys(locals.flashes)
        each category in categories
          each message in flashes[category]
            .flash(class=`flash--${category}`)
              p.flash__text!= message
              button.flash__remove(onClick="this.parentElement.remove()") &times;

    main
      block content
